<!DOCTYPE html>
<html>
<head>
<title>Wallet File Decrypt</title>
</head>
<body>
	<h1>Wallet File Decrypt</h1>
	<p>Descrypt your wallet file and get your private key.</p>
	<form action="descrypt_wallet" method="POST" enctype="multipart/form-data">
		<label for="password"> Password: <input type="password"
			id="password" name="password" required="required" />
		</label> <br /> <label for="wallet">Wallet File: <input id="wallet"
			type="file" name="wallet" required="required" />
		</label> <br /> <input type="submit" />
	</form>
</body>
</html>